
h1 {
  font-family: 'Rubik Wet Paint', cursive;
}

body {
  transition: background-color 0.5s, color 0.5s;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.wrapper {
  text-align: center;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}


button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
